{% extends 'base.html.twig' %}

{% block title %}Sortie - Administration{% endblock %}

{% block body %}
    <h1 class="text-center">Administration</h1>

    <div class="container p-5">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <a href="{{ path('app_admin_sorties_lister') }}" type="button" class="btn btn-primary">Gestion sorties</a>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <a href="{{ path('app_admin_villes_lister') }}" type="button" class="btn btn-primary"> Gestion villes</a>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <a href="{{ path('app_admin_sites_lister') }}" type="button" class="btn btn-primary">Gestion sites</a>
            </div>
        </div>
    </div>

<div>


    <h1>Inscription d'un participant</h1>
    {{ form_start(form) }}
        {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_row(form.pseudo) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.prenom) }}
    {{ form_row(form.telephone) }}
    {{ form_row(form.administrateur) }}
    {{ form_row(form.actif) }}

        <input type="submit" name="envoyer" />
    {{ form_end(form) }}

</div>
{% endblock %}
