{% extends 'base.html.twig' %}

{% block title %}Sortie - Administration{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <h1 class="text-center">Administration</h1>

    <div class="container p-5">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <a href="{{ path('app_admin_sorties_lister') }}" type="button" class="btn btn-primary">Gestion sorties</a>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <a href="{{ path('app_admin_villes_lister') }}" type="button" class="btn btn-primary"> Gestion villes</a>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <a href="{{ path('app_admin_sites_lister') }}" type="button" class="btn btn-primary">Gestion sites</a>
            </div>
        </div>
    </div>

    <section class="vh-100">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-11">
                    <div class="card text-black" style="border-radius: 25px;">
                        <div class="card-body p-md-5">
                            <div class="row justify-content-center">
                                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4" style="color: #000000;">Ajouter Participant</p>

                                    {{ form_start(form, {'attr' : {'class' : 'mx-1 mx-md-4'}}) }}

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            {{ form_row(form.email, {'attr' : {'class' : 'form-control'}}) }}
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fa-solid fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            {{ form_row(form.password, {'attr' : {'class' : 'form-control'}})}}
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fa-solid fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            {{ form_row(form.pseudo, {'attr' : {'class' : 'form-control'}})}}
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fa-solid fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            {{ form_row(form.nom, {'attr' : {'class' : 'form-control'}})}}
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fa-solid fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            {{ form_row(form.prenom, {'attr' : {'class' : 'form-control'}})}}
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fa-solid fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            {{ form_row(form.telephone, {'attr' : {'class' : 'form-control'}})}}
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fa-solid fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            {{ form_row(form.administrateur)}}
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fa-solid fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            {{ form_row(form.actif)}}
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fa-solid fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            {{ form_row(form.site_idsite, {'attr' : {'class' : 'form-control'}})}}
                                        </div>
                                    </div>

                                        <button class="btn btn-success" type="submit">Ajouter</button>

                                    {{ form_end(form)}}

                                </div>
                                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                    <img src={{asset('image/pngwing.com.png')}} class="card-img-top" alt="logo_sortie.com">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
