{% extends 'base.html.twig' %}
{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-end">
            <div class="col text-right">
                <h6>Date du jour: {{ "now"|date("d-m-Y") }}</h6>
                <h6>Pseudo: {{ app.user.pseudo }}</h6>
            </div>
        </div>
    </div>

    <h1 class="text-center">Filtrer les sorties</h1>
    <form action="{{ path('app_accueil') }}" method="post" class="container text-center">
        <div class="row d-flex justify-content-center p-3">
            <div class="col-lg-5">
                <div class="mb-3">
                    <input type="text" class="form-control my-4" placeholder="Rechercher par mot-clé" id="name" name="name">
                </div>
                <div class="mb-3">
                    <select class="form-control" name="campus">
                        <option value="" selected disabled hidden>Site</option>
                        {% for site in sites %}
                            <option value="{{ site.id }}">{{ site.nom }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <select  class="form-control" name="status">
                        <option value="" selected disabled hidden>Choisir un statut</option>
                        {% for key,status in filterStatus %}
                            <option value="{{ key }}">{{ status }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap gap-2 mt-4">
                <div class="form-group" style="flex: 1; min-width: 150px">
                    <label class="form-label fw-bold">Date de début</label>
                    <input type="date" class="form-control" name="dateStart">
                </div>
                <div class="form-group" style="flex: 1; min-width: 150px">
                    <label class="form-label fw-bold">Date de fin</label>
                    <input type="date" class="form-control" name="dateEnd">
                </div>
            </div>
            <div class="col-lg-5">
                <div class="form-check">
                    <input name="organizing" class="form-check-input" type="checkbox" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Sorties dont je suis l'organisateur.trice
                    </label>
                </div>
                <div class="form-check">
                    <input name="participating" class="form-check-input" type="checkbox" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                        Sorties auxquelles je suis inscrit.e
                    </label>
                </div>
                <div class="form-check">
                    <input name="not-participating" class="form-check-input" type="checkbox" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Sorties auxquelles je ne suis pas inscrit.e
                    </label>
                </div>
                <div class="form-check">
                    <input name="passed" class="form-check-input" type="checkbox" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked">
                        Sorties passées
                    </label>
                </div>

                <div class="container text-center">
                    <input type="submit" class="btn btn-outline-secondary p-1" value="Rechercher"> <a class="btn btn-outline-secondary p-1" href="{{ path('app_accueil') }}">Réinitialiser</a>
                </div>

            </div>
        </div>
    </form>

    <h1 class="text-center">Liste des sorties</h1>
    <div class="text-center p-5">
        <a class="btn btn-outline-primary" href="{{ path('app_sorties_ajouter')}}">Créer une sortie</a>
    </div>

    <div>
        <table class="table table-striped">
            <thead>
            <tr class="text-center">
                <th>Nom</th>
                <th>Date</th>
                <th>Clôture</th>
                <th>Inscrit</th>
                <th>Etat</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for sorties in sortie %}
            <tr class="text-center">
                <th>{{ sorties.nom }}</th>
                <th>{{ sorties.dateHeureDebut|date('d-m-Y') }}</th>
                <th>{{ sorties.dateLimiteInscription|date('d-m-Y') }}</th>
                <th>0 / {{ sorties.nombreInscriptionMax }}</th>
                <th>{{ sorties.etatIdetat.libelle }}</th>
                <th>
                    {% if is_granted('ROLE_USER') %}
                           {% if 'participantIdparticipant' in sortie %}
                            {% if sortie.nom == app.user %}
                                <a class="btn btn-danger" href="{{ path('app_sorties_desinscrire', { 'id' : sortie.id }) }}">Se désinscrire</a>
                            {% else %}
                                <a class="btn btn-primary" href="{{ path('app_sorties_inscrire', { 'id' : sortie.id }) }}">S'inscrire</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}

                    <a class="btn btn-outline-primary" href="{{ path('app_sorties_modifier', { 'id' : sorties.id }) }}">modifier</a>
                    <a class="btn btn-outline-danger" onclick="return confirm('Êtes vous sûr ?')" href="{{ path('app_sorties_supprimer', { 'id' : sorties.id }) }}">supprimer</a>

                </th>
            </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>
{% endblock %}