{% extends 'base.html.twig' %}

{% block title %}Vos sites{% endblock %}

{% block body %}

    <h1 class="text-center">Gestion des sites</h1>
    <div class="text-center p-3">
        <a href="{{ path('app_admin') }}" type="button" class="btn btn-light">Retour</a>
        <a href={{ path('app_admin_sites_ajouter') }} type="button" class="btn btn-light">Ajout des sites</a>
    </div>

    <table class="table table-striped">
        <thead>
        <tr class="text-center">
            <th>Nom</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for site in sites %}
            <tr class="text-center">
                <td>{{ site.nom }}</td>
                <td>
                    <a class="btn btn-success" type="submit"  href="{{ path('app_admin_sites_modifier',{'id':site.id}) }}">Modifier</a>
                    <a class="btn btn-warning" type="submit"  href="{{ path('app_admin_sites_supprimer',{'id':site.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

{% endblock %}
